.navbar {
    height: 120px;
    display: inline;
}

.belowbar {
    display: none;
}

.RS {
    width: 250px;
    height: 150px;
    display: inline;
    margin-top: -20px;
}

.svg {
    width: 20px;
    height: 20px;
}

.aboutRS {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: auto;
}

.aboutRS-p {
    max-width: 500px;
    width: 100%;
}

.aboutRStitle {
    font-size: 40px;
}

.aboutRSimg {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: auto;
    filter: brightness(120%);
}

.enjoy {
    max-width: 500px;
    margin: auto;
    width: 100%;
}

.maps {
    max-width: 600px;
    width: 100%;
    height: 400px;
}

.maps-text {
    max-width: 400px;
    width: 100%;
    font-size: 30px;
}

#courses {
    height: 1300px;
}

.courses-wrap {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.course-img {
    max-width: 350px;
    width: 100%;
    margin: auto;
}

.ed-text {
    z-index: 2;
    position: relative;
    margin-top: -800px;
}

.ed-title {
    font-family: 'Roboto Slab';
    font-size: 30px;
    margin-top: 50px;
}

.card-title {
    max-width: 400px;
    width: 100%;
}

.ed-desc {
    font-family: 'Montserrat';
    font-size: 20px;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.handshake {
    max-width: 600px;
    width: 100%;
    margin: auto;
    height: auto;
}

.certificate {
    max-width: 500px;
    width: 100%;
    margin: auto;
    height: auto;
}
.idp {
    max-width: 400px;
    width: 100%;
    margin: auto;
    height: auto;
}

.footer-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:1150px) {
    .footer-body {
        display: grid;
    }
}

@media screen and (max-width:1000px) {

    .aboutRStitle {
        font-size: 35px;
    }
}

@media screen and (max-width:900px) {
    .aboutRStitle {
        font-size: 30px;
    }

    #courses {
        height: 1600px;
    }

    .course1 {
        margin-top: -50px;
    }

    .course3 {
        margin-bottom: -50px;
    }
}

@media screen and (max-width: 850px) {

    .aboutRS {
        display: grid;
        margin-left: 20px;
    }

    .logo {
        font-size: 20px;
    }

    .courses-wrap {
        display: grid;
        row-gap: 50px;
        margin-top: 120px;
    }

    #courses {
        height: 3200px;
        /* display: inline; */
    }

}

@media screen and (max-width:767px) {
    .belowbar {
        display: block;
    }

    .services-column {
        margin: auto;
    }
}

@media screen and (max-width:570px) {
    .ed-title {
        font-size: 30px;
    }

    .ed-desc {
        font-size: 17px;
    }
}

@media screen and (max-width:425px) {
    .RS {
        width: 200px;
        height: 130px;
        margin-top: -10px;
    }
}

@media screen and (max-width:400px) {
    .ed-text {
        margin-top: -900px;
    }

    #courses {
        height: 3300px;
    }
}

@media screen and (max-width:370px) {
    .RS {
        width: 170px;
        height: 120px;
    }
}

@media screen and (max-width:350px) {
    .RS {
        width: 165px;
        height: 110px;
        margin-bottom: -1px;
    }

    .svg {
        width: 15px;
        height: 15px;
    }

    .navbar {
        height: 90px;
    }
}

@media screen and (max-width:350px) {
    .ed-desc {
        font-size: 15px;
    }
}